<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>error</key>
	<integer>0</integer>
	<key>data</key>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>pid</key>
				<string>DYTV_IOS_Product_6</string>
				<key>is_hot</key>
				<string>0</string>
				<key>icon_tag</key>
				<string></string>
				<key>icon_name</key>
				<string></string>
				<key>default_select</key>
				<string>0</string>
				<key>gold</key>
				<string>6</string>
				<key>rmb</key>
				<string>6</string>
				<key>exp</key>
				<string>6</string>
				<key>recharge_reward_msg</key>
				<string></string>
			</dict>
			<dict>
				<key>pid</key>
				<string>DYTV_IOS_Product_7</string>
				<key>is_hot</key>
				<string>0</string>
				<key>icon_tag</key>
				<string></string>
				<key>icon_name</key>
				<string></string>
				<key>default_select</key>
				<string>0</string>
				<key>gold</key>
				<string>12</string>
				<key>rmb</key>
				<string>12</string>
				<key>exp</key>
				<string>12</string>
				<key>recharge_reward_msg</key>
				<string>+99经验</string>
			</dict>
			<dict>
				<key>pid</key>
				<string>DYTV_IOS_Product_8</string>
				<key>is_hot</key>
				<string>0</string>
				<key>icon_tag</key>
				<string></string>
				<key>icon_name</key>
				<string></string>
				<key>default_select</key>
				<string>0</string>
				<key>gold</key>
				<string>30</string>
				<key>rmb</key>
				<string>30</string>
				<key>exp</key>
				<string>30</string>
				<key>recharge_reward_msg</key>
				<string>+99经验 +1000鱼丸</string>
			</dict>
			<dict>
				<key>pid</key>
				<string>DYTV_IOS_Product_9</string>
				<key>is_hot</key>
				<string>1</string>
				<key>icon_tag</key>
				<string></string>
				<key>icon_name</key>
				<string></string>
				<key>default_select</key>
				<string>1</string>
				<key>gold</key>
				<string>50</string>
				<key>rmb</key>
				<string>50</string>
				<key>exp</key>
				<string>50</string>
				<key>recharge_reward_msg</key>
				<string>+99经验 +1000鱼丸</string>
			</dict>
			<dict>
				<key>pid</key>
				<string>DYTV_IOS_Product_13</string>
				<key>is_hot</key>
				<string>1</string>
				<key>icon_tag</key>
				<string></string>
				<key>icon_name</key>
				<string></string>
				<key>default_select</key>
				<string>0</string>
				<key>gold</key>
				<string>128</string>
				<key>rmb</key>
				<string>128</string>
				<key>exp</key>
				<string>128</string>
				<key>recharge_reward_msg</key>
				<string>+1765经验 +11000鱼丸</string>
			</dict>
			<dict>
				<key>pid</key>
				<string>DYTV_IOS_Product_14</string>
				<key>is_hot</key>
				<string>0</string>
				<key>icon_tag</key>
				<string></string>
				<key>icon_name</key>
				<string></string>
				<key>default_select</key>
				<string>0</string>
				<key>gold</key>
				<string>618</string>
				<key>rmb</key>
				<string>618</string>
				<key>exp</key>
				<string>618</string>
				<key>recharge_reward_msg</key>
				<string>+1765经验 +11000鱼丸 +充值勋章x2枚</string>
			</dict>
		</array>
		<key>pay_method_switch</key>
		<integer>0</integer>
		<key>gold_balance</key>
		<string>0.00</string>
		<key>first_pay</key>
		<string>0</string>
		<key>ratio_msg</key>
		<string>1\u9c7c\u7fc5=1\u5143</string>
	</dict>
</dict>
</plist>
