<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>searchArray</key>
	<array>
		<string>lpl</string>
		<string>豆豆龙</string>
		<string>lck</string>
		<string>英雄无敌</string>
		<string>阿凯</string>
		<string>王者荣耀</string>
		<string>绝地求生</string>
		<string>狼人杀</string>
		<string>纳豆</string>
		<string>火影忍者</string>
	</array>
</dict>
</plist>
